<configuration>

    <conversionRule conversionWord="nanoTime" converterClass="com.tersesystems.logback.classic.NanoTimeConverter" />
    <conversionRule conversionWord="uniqueId" converterClass="com.tersesystems.logback.uniqueid.UniqueIdConverter" />
    <conversionRule conversionWord="tse" converterClass="com.tersesystems.logback.classic.TimeSinceEpochConverter" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%uniqueId %date{H:mm:ss.SSS} [%highlight(%-5level)] %logger{15} -  %message%ex%n</pattern>
        </encoder>
        <withJansi>true</withJansi>
    </appender>

    <appender name="JSON" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.ndjson</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
            <providers>
                <pattern>
                    <pattern>
                        {
                        "id": "%uniqueId",
                        "relative_ns": "#asLong{%nanoTime}",
                        "tse_ms": "#asLong{%tse}"
                        }
                    </pattern>
                </pattern>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <version/>
                <message/>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <logLevelValue/><!-- numeric value is useful for filtering >= -->
                <stackHash/>
                <mdc/>
                <logstashMarkers/>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <!-- Use conditional logging in your application -->
    <logger name="example" level="ALL"/>

    <!-- Libraries should use INFO generally -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="JSON"/>
    </root>

</configuration>